! ~/.Xresources

#define S_bg01        #1d1f21
#define S_bg02        #363a41
#define S_fg01        #c4c8c5

*background:            S_bg01
*foreground:            S_fg01
*cursorColor:           S_fg01

#include ".xres/urxvt"
